.header-top{
    background-color: rgb(40, 230, 230);
    height: 40px;
    padding-top: 20px;
}
.container{
    width: 100%;
    background-color: rgb(40, 230, 230);
    height: 40px;
}
.row{
    display: flex;
    height: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.Image1{
    height: 70px;
    width: 100%;
}
.container2{
    height:70px;
    width:100%;
}
.options-menu{
    background-color:rgb(40, 230, 230) ;
    height: 40px;
    padding-top: 20px;
}
.container3{
    width: 100%;
    height: 40px;
    background-color: rgb(40, 230, 230);
}
.Image2{
    height: 300px;
    width: 100%;
}
.container4{
    width: 100%;
    height: 300px;
    background-color: rgb(40, 230, 230);
}
.col{
    border: solid 2px rgb(40, 230, 230);
}

